In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np
import os
import sqlite3

In [2]:
# Preview data: loading a sample dataset to understand its structure
sample = pd.read_excel('Resources/2012_immsuptable1d.xls')
sample.head()

,Region and country of birth,Total,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,Texas,U.S. Armed Services Posts,U.S. Territories,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,REGION,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Total,1031631,3873,1612,18434,2795,196622,13327,12237,2208,...,95557,108,1559,5932,877,28227,23060,779,6049,427
2,Africa,107241,519,118,1517,129,7150,2471,1093,497,...,9513,8,8,514,142,5429,3160,124,768,34
3,Asia,429599,1784,910,6225,1077,107825,5003,3941,857,...,32341,67,694,2090,476,13748,12347,382,2773,161
4,Europe,81671,330,186,967,180,11121,1086,1952,156,...,3834,14,24,440,126,1945,2853,93,660,69

In [3]:
files = ['2005_immsuptable1d.xls','2006_immsuptable1d.xls',
         '2007_immsuptable1d.xls','2008_immsuptable1d.xls','2009_immsuptable1d.xls',
         '2010_immsuptable1d.xlsx','2011_immsuptable1d.xls',
         '2012_immsuptable1d.xls', '2013_immsuptable1d.xls', '2014_immsuptable1d.xls',
         '2015_immsuptable1d.xls', '2016_immsuptable1d.xls', '2017_immsuptable1d.xlsx',
         '2018_immsuptable1d.xlsx', '2019_immsuptable1d.xlsx']

# Initialize DataFrame to store immigration data across all years
immigration_df = pd.DataFrame(columns=['Year'])

# Iterate over the files
for file in files:
    # Load file into DataFrame
    df = pd.read_excel('Resources/' + file)

    # Extract year from filename and add it as a column
    year = int(file[:4])
    df.insert(0, 'Year', year)

    # Concatenate this DataFrame with the master DataFrame
    immigration_df = pd.concat([immigration_df, df], ignore_index=True)

# Display the first 50 rows of the DataFrame
immigration_df.head(50)

,Year,Region and country of birth,Total,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,...,Wyoming,U.S. Armed Services posts,U.S. possessions,Unknown,U.S. Armed Services Posts,U.S. Dependencies,Guam,Puerto Rico,U.S. Territories,U.S. Territories1
0,2005,REGION,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2005,Total,1122373,4200,1525,18988,2698,232023,11977,15335,...,321,128,5868,9,NaN,NaN,NaN,NaN,NaN,NaN
2,2005,Africa,85102,341,47,1229,115,6813,1300,900,...,D,D,25,-,NaN,NaN,NaN,NaN,NaN,NaN
3,2005,Asia,400135,1789,735,4418,952,106540,3519,4641,...,90,67,1683,4,NaN,NaN,NaN,NaN,NaN,NaN
4,2005,Europe,176569,695,366,2529,267,22806,2572,4094,...,86,26,170,1,NaN,NaN,NaN,NaN,NaN,NaN
5,2005,North America,345575,1049,272,10000,1213,84337,3810,2751,...,120,17,3161,2,NaN,NaN,NaN,NaN,NaN,NaN
6,2005,Oceania,6546,28,36,96,13,2142,139,71,...,D,D,14,2,NaN,NaN,NaN,NaN,NaN,NaN
7,2005,South America,103143,261,65,639,125,7616,622,2844,...,15,9,715,-,NaN,NaN,NaN,NaN,NaN,NaN
8,2005,Unknown,5303,37,4,77,13,1769,15,34,...,-,4,100,-,NaN,NaN,NaN,NaN,NaN,NaN
9,2005,COUNTRY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2005,Total,1122373,4200,1525,18988,2698,232023,11977,15335,...,321,128,5868,9,NaN,NaN,NaN,NaN,NaN,NaN
11,2005,Afghanistan,4749,5,-,244,D,1331,64,50,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
12,2005,Albania,5947,D,-,35,5,94,9,387,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
13,2005,Algeria,1115,4,-,11,-,180,18,7,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
14,2005,American Samoa,15,-,-,-,-,D,-,-,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
15,2005,Angola,188,-,D,14,D,7,-,7,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
16,2005,Anguilla,35,-,-,-,-,D,-,-,...,-,-,9,-,NaN,NaN,NaN,NaN,NaN,NaN
17,2005,Antigua-Barbuda,440,D,D,-,-,D,-,9,...,-,-,46,-,NaN,NaN,NaN,NaN,NaN,NaN
18,2005,Argentina,7081,6,3,50,15,868,72,119,...,D,-,133,-,NaN,NaN,NaN,NaN,NaN,NaN
19,2005,Armenia,2591,D,D,13,-,1969,20,7,...,-,-,D,-,NaN,NaN,NaN,NaN,NaN,NaN
20,2005,Aruba,42,-,-,-,-,D,-,D,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
21,2005,Australia,3193,16,14,57,5,557,84,55,...,D,D,10,2,NaN,NaN,NaN,NaN,NaN,NaN
22,2005,Austria,532,6,-,9,-,98,9,17,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
23,2005,Azerbaijan,1523,D,D,26,D,376,27,7,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
24,2005,Bahamas,698,5,-,3,D,14,D,8,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
25,2005,Bahrain,140,3,-,D,-,13,D,D,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
26,2005,Bangladesh,11487,27,-,84,14,781,33,159,...,-,-,9,-,NaN,NaN,NaN,NaN,NaN,NaN
27,2005,Barbados,846,D,D,D,-,18,D,18,...,-,-,D,-,NaN,NaN,NaN,NaN,NaN,NaN
28,2005,Belarus,3503,3,D,8,D,550,59,62,...,D,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
29,2005,Belgium,859,9,-,15,D,99,11,21,...,3,-,D,-,NaN,NaN,NaN,NaN,NaN,NaN
30,2005,Belize,876,D,D,6,D,316,5,D,...,4,-,4,-,NaN,NaN,NaN,NaN,NaN,NaN
31,2005,Benin,193,-,-,-,-,11,5,D,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
32,2005,Bermuda,116,D,-,-,-,7,D,D,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
33,2005,Bhutan,30,-,-,D,-,3,D,-,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
34,2005,Bolivia,2197,D,-,12,3,203,15,12,...,D,-,9,-,NaN,NaN,NaN,NaN,NaN,NaN
35,2005,Bosnia-Herzegovina,14074,18,13,512,-,396,176,570,...,-,-,D,-,NaN,NaN,NaN,NaN,NaN,NaN
36,2005,Botswana,54,D,-,-,-,6,D,-,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
37,2005,Brazil,16664,73,7,108,24,1362,107,743,...,D,-,22,-,NaN,NaN,NaN,NaN,NaN,NaN
38,2005,British Virgin Islands,41,-,-,-,-,D,-,D,...,-,-,9,-,NaN,NaN,NaN,NaN,NaN,NaN
39,2005,Brunei,49,-,-,-,-,14,-,-,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
40,2005,Bulgaria,5635,16,6,74,12,611,93,53,...,4,-,D,-,NaN,NaN,NaN,NaN,NaN,NaN
41,2005,Burkina Faso,128,-,-,D,-,4,3,D,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
42,2005,Burma,2095,-,3,28,-,739,11,9,...,-,D,D,-,NaN,NaN,NaN,NaN,NaN,NaN
43,2005,Burundi,186,-,-,12,-,4,7,9,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
44,2005,Cambodia,4022,4,-,47,-,1274,46,45,...,D,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
45,2005,Cameroon,1458,7,D,20,4,80,8,10,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
46,2005,Canada,21878,196,82,769,82,2670,432,335,...,28,D,D,2,NaN,NaN,NaN,NaN,NaN,NaN
47,2005,Cape Verde,1225,-,-,-,-,4,-,51,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
48,2005,Cayman Islands,37,-,-,D,-,-,D,-,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
49,2005,Central African Republic,24,-,-,-,-,3,-,D,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Clean up the DataFrame by replacing 'D' and '-' values with 0 and convert all to integer type
int_columns = immigration_df.columns.drop('Region and country of birth')
immigration_df[int_columns] = immigration_df[int_columns].replace({'D': 0, '-': 0}).fillna(0).astype(np.int64)
immigration_df.head()

,Year,Region and country of birth,Total,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,...,Wyoming,U.S. Armed Services posts,U.S. possessions,Unknown,U.S. Armed Services Posts,U.S. Dependencies,Guam,Puerto Rico,U.S. Territories,U.S. Territories1
0,2005,REGION,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2005,Total,1122373,4200,1525,18988,2698,232023,11977,15335,...,321,128,5868,9,0,0,0,0,0,0
2,2005,Africa,85102,341,47,1229,115,6813,1300,900,...,0,0,25,0,0,0,0,0,0,0
3,2005,Asia,400135,1789,735,4418,952,106540,3519,4641,...,90,67,1683,4,0,0,0,0,0,0
4,2005,Europe,176569,695,366,2529,267,22806,2572,4094,...,86,26,170,1,0,0,0,0,0,0

In [5]:
# replacing NaN values with 0
immigration_df = immigration_df.fillna(0)

In [6]:
immigration_df.columns

Index(['Year', 'Region and country of birth', 'Total', 'Alabama', 'Alaska',
       'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut',
       'Delaware', 'District of Columbia', 'Florida', 'Georgia', 'Hawaii',
       'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky',
       'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan',
       'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'U.S. Armed Services posts',
       'U.S. possessions', 'Unknown', 'U.S. Armed Services Posts',
       'U.S. Dependencies', 'Guam', 'Puerto Rico', 'U.S. Territories',
       'U.S. Territories1'],
      dtype='object')

In [7]:
# Drop unnecessary columns
immigration_df = immigration_df.drop(['U.S. Armed Services Posts', 'U.S. Territories', 'U.S. Territories1', 'Unknown',
                                      'U.S. Dependencies', 'U.S. possessions', 'U.S. Armed Services posts', 'U.S. Territories',
                                      'U.S. Territories1', 'Guam', 'Puerto Rico'], axis=1)

In [8]:
immigration_df.columns

Index(['Year', 'Region and country of birth', 'Total', 'Alabama', 'Alaska',
       'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut',
       'Delaware', 'District of Columbia', 'Florida', 'Georgia', 'Hawaii',
       'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky',
       'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan',
       'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'],
      dtype='object')

In [9]:
# define the list of values to be removed
values_to_remove = ['Africa', 'Asia', 'Europe', 'North America', 'Oceania',
                    'South America', 'Unknown', 'REGION', 'COUNTRY', 'D Data withheld to limit disclosure.',
                    "'- Represents zero.", '1 Includes American Samoa, Northern Mariana Islands, and U.S. Virgin Islands.',
                    'Source: U.S. Department of Homeland Security.' ]

# remove the rows
immigration_df = immigration_df[~immigration_df['Region and country of birth'].isin(values_to_remove)]
immigration_df

,Year,Region and country of birth,Total,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
1,2005,Total,1122373,4200,1525,18988,2698,232023,11977,15335,...,881,8962,95958,5082,1042,27100,26482,847,7909,321
10,2005,Total,1122373,4200,1525,18988,2698,232023,11977,15335,...,881,8962,95958,5082,1042,27100,26482,847,7909,321
11,2005,Afghanistan,4749,5,0,244,0,1331,64,50,...,20,64,273,90,3,456,88,5,29,0
12,2005,Albania,5947,0,0,35,5,94,9,387,...,0,17,97,3,14,80,26,0,73,0
13,2005,Algeria,1115,4,0,11,0,180,18,7,...,0,3,59,0,0,54,21,0,10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3483,2019,"Virgin Islands, U.S.",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3484,2019,Western Sahara,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3485,2019,Yemen,3717,43,0,0,14,608,4,59,...,0,74,22,0,0,53,22,3,0,0
3486,2019,Zambia,511,4,0,21,0,25,7,4,...,3,5,73,8,0,6,12,0,10,0
3487,2019,Zimbabwe,758,4,0,10,3,48,19,5,...,0,21,109,11,0,34,8,4,9,0

In [10]:
# Rename 'Total' column to 'Total Permanent Residents'
immigration_df.rename(columns={'Total': 'Total Permanent Residents'}, inplace=True)

In [11]:
# Remove duplicate entries. This is necessary as each file contains two 'Total' rows.
immigration_df = immigration_df.drop_duplicates(subset=["Year", "Region and country of birth"])

In [12]:
# Add a new column named 'Percentage' after 'Total Permanent Residents' column
immigration_df.insert(immigration_df.columns.get_loc('Total Permanent Residents') + 1, 'Percentage', 0)

In [13]:
# Get unique years from the 'Year' column in immigration_df DataFrame
years = immigration_df['Year'].unique()

for year in years:
    # Calculate total permanent residents for the given year
    total_residents = immigration_df.loc[(immigration_df['Region and country of birth'].str.contains('Total')) & 
                                         (immigration_df['Year'] == year), 'Total Permanent Residents'].values
    
    # Calculate the percentage of residents per region/country with respect to the total for the given year, and store it in the 'Percentage' column
    immigration_df.loc[immigration_df['Year'] == year, 'Percentage'] = \
        (immigration_df.loc[immigration_df['Year'] == year, 'Total Permanent Residents'] / total_residents) * 100
    
    # Round the 'Percentage' values to two decimal places for the given year
    immigration_df.loc[immigration_df['Year'] == year, 'Percentage'] = \
        immigration_df.loc[immigration_df['Year'] == year, 'Percentage'].round(2)
    
immigration_df.head(50)

,Year,Region and country of birth,Total Permanent Residents,Percentage,Alabama,Alaska,Arizona,Arkansas,California,Colorado,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
1,2005,Total,1122373,100.00,4200,1525,18988,2698,232023,11977,...,881,8962,95958,5082,1042,27100,26482,847,7909,321
11,2005,Afghanistan,4749,0.42,5,0,244,0,1331,64,...,20,64,273,90,3,456,88,5,29,0
12,2005,Albania,5947,0.53,0,0,35,5,94,9,...,0,17,97,3,14,80,26,0,73,0
13,2005,Algeria,1115,0.10,4,0,11,0,180,18,...,0,3,59,0,0,54,21,0,10,0
14,2005,American Samoa,15,0.00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,2005,Angola,188,0.02,0,0,14,0,7,0,...,0,0,17,0,0,0,0,0,0,0
16,2005,Anguilla,35,0.00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,2005,Antigua-Barbuda,440,0.04,0,0,0,0,0,0,...,0,4,7,0,0,6,0,0,0,0
18,2005,Argentina,7081,0.63,6,3,50,15,868,72,...,10,32,348,91,5,144,61,11,34,0
19,2005,Armenia,2591,0.23,0,0,13,0,1969,20,...,0,3,26,8,5,28,37,0,3,0
20,2005,Aruba,42,0.00,0,0,0,0,0,0,...,0,0,5,0,0,0,0,0,0,0
21,2005,Australia,3193,0.28,16,14,57,5,557,84,...,5,24,213,39,11,71,128,5,35,0
22,2005,Austria,532,0.05,6,0,9,0,98,9,...,0,0,27,5,3,13,20,0,9,0
23,2005,Azerbaijan,1523,0.14,0,0,26,0,376,27,...,0,6,34,20,13,22,106,0,8,0
24,2005,Bahamas,698,0.06,5,0,3,0,14,0,...,0,12,16,0,0,9,0,0,0,0
25,2005,Bahrain,140,0.01,3,0,0,0,13,0,...,0,0,16,0,0,6,3,0,0,0
26,2005,Bangladesh,11487,1.02,27,0,84,14,781,33,...,4,43,657,7,0,385,50,9,25,0
27,2005,Barbados,846,0.08,0,0,0,0,18,0,...,0,0,23,0,0,19,0,0,0,0
28,2005,Belarus,3503,0.31,3,0,8,0,550,59,...,6,14,74,5,0,51,324,0,35,0
29,2005,Belgium,859,0.08,9,0,15,0,99,11,...,0,5,73,4,0,20,26,0,5,3
30,2005,Belize,876,0.08,0,0,6,0,316,5,...,0,6,59,0,0,11,4,0,0,4
31,2005,Benin,193,0.02,0,0,0,0,11,5,...,0,0,6,0,0,11,0,0,0,0
32,2005,Bermuda,116,0.01,0,0,0,0,7,0,...,0,8,5,0,0,8,0,0,0,0
33,2005,Bhutan,30,0.00,0,0,0,0,3,0,...,0,0,0,0,0,0,0,0,0,0
34,2005,Bolivia,2197,0.20,0,0,12,3,203,15,...,0,5,108,16,0,734,7,0,9,0
35,2005,Bosnia-Herzegovina,14074,1.25,18,13,512,0,396,176,...,63,153,413,279,133,318,291,0,273,0
36,2005,Botswana,54,0.00,0,0,0,0,6,0,...,0,0,5,0,0,0,0,0,0,0
37,2005,Brazil,16664,1.48,73,7,108,24,1362,107,...,3,76,704,184,18,189,156,6,74,0
38,2005,British Virgin Islands,41,0.00,0,0,0,0,0,0,...,0,0,4,0,0,0,0,0,0,0
39,2005,Brunei,49,0.00,0,0,0,0,14,0,...,0,0,10,0,0,0,0,0,0,0
40,2005,Bulgaria,5635,0.50,16,6,74,12,611,93,...,4,28,164,24,0,166,196,3,51,4
41,2005,Burkina Faso,128,0.01,0,0,0,0,4,3,...,0,0,3,0,0,13,5,0,0,0
42,2005,Burma,2095,0.19,0,3,28,0,739,11,...,0,5,69,0,0,67,30,3,29,0
43,2005,Burundi,186,0.02,0,0,12,0,4,7,...,0,10,27,0,0,10,5,0,0,0
44,2005,Cambodia,4022,0.36,4,0,47,0,1274,46,...,0,20,254,26,4,100,298,0,13,0
45,2005,Cameroon,1458,0.13,7,0,20,4,80,8,...,0,13,161,0,0,70,5,0,10,0
46,2005,Canada,21878,1.95,196,82,769,82,2670,432,...,29,278,1929,170,123,372,1145,18,303,28
47,2005,Cape Verde,1225,0.11,0,0,0,0,4,0,...,0,0,0,0,0,4,0,0,0,0
48,2005,Cayman Islands,37,0.00,0,0,0,0,0,0,...,0,0,4,0,0,0,0,0,0,0
49,2005,Central African Republic,24,0.00,0,0,0,0,3,0,...,0,0,0,0,0,0,0,0,0,0
50,2005,Chad,31,0.00,0,0,0,0,0,0,...,0,0,3,0,0,0,0,0,0,0
51,2005,Chile,2404,0.21,13,10,37,0,315,24,...,5,16,144,72,3,71,39,3,22,3
52,2005,"China, People's Republic",69967,6.23,328,92,543,202,17668,765,...,51,637,4139,217,50,1327,1508,101,593,28
53,2005,Colombia,25571,2.28,92,20,174,23,1264,148,...,8,95,1372,106,0,313,108,5,108,0
54,2005,Comoros,6,0.00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
55,2005,"Congo, Democratic Republic",260,0.02,0,0,5,0,15,6,...,0,15,18,0,5,9,0,0,3,0
56,2005,"Congo, Republic",1064,0.09,6,0,31,0,53,11,...,3,25,121,26,10,29,7,0,4,0
57,2005,Cook Islands,5,0.00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
58,2005,Costa Rica,2278,0.20,16,0,28,6,259,22,...,0,22,130,15,0,46,30,0,19,0
59,2005,Cote d'Ivoire,930,0.08,3,0,8,0,49,13,...,4,0,42,6,0,36,20,0,9,0

In [14]:
# Save the final DataFrame to a new CSV file
immigration_df.to_csv('Resources/immigration_data_2005_2019.csv', index=False)

In [16]:
# Find the top 10 countries by percentage of total immigration for each year
years = immigration_df['Year'].unique()
for year in years:
    
    # Filter the rows for the current year and exclude rows with "Total" in the "Region and country of birth" column
    filtered_df = immigration_df[(immigration_df['Year'] == year) &
                                 (~immigration_df['Region and country of birth'].str.contains('Total', na=False))]
    
    # Sort the DataFrame by the "Percentage" column in descending order and select the top 10 rows
    top_10 = filtered_df.nlargest(10, 'Percentage')
    
    # Display the year, region/country, percentage and 'Total Permanent Residents' columns
    print(f"Year: {year}")
    print(top_10[['Region and country of birth', 'Percentage', 'Total Permanent Residents']])
    print()

Year: 2005
    Region and country of birth  Percentage  Total Permanent Residents
139                      Mexico       14.38                     161445
102                       India        7.54                      84681
52     China, People's Republic        6.23                      69967
167                 Philippines        5.41                      60748
61                         Cuba        3.23                      36261
225                     Vietnam        2.92                      32784
68           Dominican Republic        2.45                      27504
115                       Korea        2.37                      26562
53                     Colombia        2.28                      25571
217                     Ukraine        2.03                      22761

Year: 2006
    Region and country of birth  Percentage  Total Permanent Residents
373                      Mexico       13.72                     173753
287    China, People's Republic        6.90                      87345
398                 Philippines        5.89                      74607
337                       India        4.85                      61369
297                        Cuba        3.60                      45614
289                    Colombia        3.41                      43151
304          Dominican Republic        3.01                      38069
307                 El Salvador        2.51                      31783
456                     Vietnam        2.42                      30695
344                     Jamaica        1.97                      24976

Year: 2007
    Region and country of birth  Percentage  Total Permanent Residents
602                      Mexico       14.12                     148640
519    China, People's Republic        7.28                      76655
629                 Philippines        6.90                      72596
566                       India        6.21                      65353
520                    Colombia        3.15                      33187
561                       Haiti        2.89                      30405
528                        Cuba        2.77                      29104
685                     Vietnam        2.73                      28691
535          Dominican Republic        2.66                      28024
579                       Korea        2.13                      22405

Year: 2008
    Region and country of birth  Percentage  Total Permanent Residents
832                      Mexico       17.16                     189989
746    China, People's Republic        7.25                      80271
795                       India        5.72                      63352
859                 Philippines        4.88                      54030
754                        Cuba        4.47                      49500
761          Dominican Republic        2.88                      31879
915                     Vietnam        2.84                      31497
747                    Colombia        2.73                      30213
808                     Korea 1        2.41                      26666
790                       Haiti        2.35                      26007

Year: 2009
     Region and country of birth  Percentage  Total Permanent Residents
1068                      Mexico       14.58                     164920
979     China, People's Republic        5.68                      64238
1094                 Philippines        5.31                      60029
1030                       India        5.07                      57304
996           Dominican Republic        4.37                      49414
989                         Cuba        3.44                      38954
1151                     Vietnam        2.59                      29234
981                     Colombia        2.46                      27849
1044                Korea, South        2.29                      25859
1025                       Haiti        2.15                      24280

Year: 2010
     Region and country of birth  Percentage  Total Permanent Residents
1303                      Mexico       13.34                     139120
1214    China, People's Republic        6.80                      70863
1264                       India        6.63                      69162
1329                 Philippines        5.58                      58173
1230          Dominican Republic        5.17                      53870
1223                        Cuba        3.22                      33573
1384                     Vietnam        2.94                      30632
1258                       Haiti        2.17                      22582
1215                    Colombia        2.15                      22406
1278                Korea, South        2.13                      22227

Year: 2011
     Region and country of birth  Percentage  Total Permanent Residents
1531                      Mexico       13.51                     143446
1446    China, People's Republic        8.19                      87016
1493                       India        6.50                      69013
1560                 Philippines        5.37                      57011
1462          Dominican Republic        4.34                      46109
1455                        Cuba        3.43                      36452
1615                     Vietnam        3.22                      34157
1507                Korea, South        2.15                      22824
1447                    Colombia        2.13                      22635
1488                       Haiti        2.08                      22111

Year: 2012
     Region and country of birth  Percentage  Total Permanent Residents
1759                      Mexico       14.19                     146406
1676    China, People's Republic        7.93                      81784
1722                       India        6.44                      66434
1787                 Philippines        5.56                      57327
1691          Dominican Republic        4.03                      41566
1684                        Cuba        3.18                      32820
1844                     Vietnam        2.74                      28304
1717                       Haiti        2.21                      22818
1677                    Colombia        2.03                      20931
1736                Korea, South        2.02                      20846

Year: 2013
     Region and country of birth  Percentage  Total Permanent Residents
1991                      Mexico       13.63                     135028
1908    China, People's Republic        7.25                      71798
1954                       India        6.91                      68458
2018                 Philippines        5.50                      54446
1923          Dominican Republic        4.17                      41311
1916                        Cuba        3.25                      32219
2075                     Vietnam        2.74                      27101
1968                Korea, South        2.34                      23166
1909                    Colombia        2.13                      21131
1948                       Haiti        2.05                      20351

Year: 2014
     Region and country of birth  Percentage  Total Permanent Residents
2224                      Mexico       13.19                     134052
2187                       India        7.66                      77908
2136    China, People's Republic        7.49                      76089
2253                 Philippines        4.92                      49996
2146                        Cuba        4.59                      46679
2154          Dominican Republic        4.39                      44577
2314                     Vietnam        2.98                      30283
2201                Korea, South        2.01                      20423
2158                 El Salvador        1.90                      19273
2190                        Iraq        1.88                      19153

Year: 2015
     Region and country of birth  Percentage  Total Permanent Residents
2465                      Mexico       15.09                     158619
2377    China, People's Republic        7.09                      74558
2427                       India        6.10                      64116
2493                 Philippines        5.37                      56478
2387                        Cuba        5.18                      54396
2395          Dominican Republic        4.82                      50610
2553                     Vietnam        2.93                      30832
2430                        Iraq        2.01                      21107
2399                 El Salvador        1.85                      19487
2487                    Pakistan        1.72                      18057

Year: 2016
     Region and country of birth  Percentage  Total Permanent Residents
2699                      Mexico       14.75                     174534
2614    China, People's Republic        6.91                      81772
2624                        Cuba        5.62                      66516
2662                       India        5.47                      64687
2632          Dominican Republic        5.17                      61161
2727                 Philippines        4.50                      53287
2785                     Vietnam        3.50                      41451
2657                       Haiti        1.99                      23584
2635                 El Salvador        1.98                      23449
2669                     Jamaica        1.97                      23350

Year: 2017
     Region and country of birth  Percentage  Total Permanent Residents
2933                      Mexico       15.13                     170581
2850    China, People's Republic        6.35                      71565
2858                        Cuba        5.77                      65028
2896                       India        5.36                      60394
2866          Dominican Republic        5.19                      58520
2961                 Philippines        4.36                      49147
3020                     Vietnam        3.39                      38231
2869                 El Salvador        2.23                      25109
2891                       Haiti        1.94                      21824
2903                     Jamaica        1.94                      21905

Year: 2018
     Region and country of birth  Percentage  Total Permanent Residents
3165                      Mexico       14.76                     161858
3088                        Cuba        6.97                      76486
3079    China, People's Republic        5.95                      65214
3127                       India        5.46                      59821
3096          Dominican Republic        5.24                      57413
3193                 Philippines        4.31                      47258
3252                     Vietnam        3.09                      33834
3099                 El Salvador        2.58                      28326
3122                       Haiti        1.95                      21360
3134                     Jamaica        1.86                      20347

Year: 2019
     Region and country of birth  Percentage  Total Permanent Residents
3398                      Mexico       15.12                     156052
3311    China, People's Republic        6.03                      62248
3361                       India        5.28                      54495
3328          Dominican Republic        4.84                      49911
3425                 Philippines        4.45                      45920
3321                        Cuba        4.04                      41641
3481                     Vietnam        3.85                      39712
3331                 El Salvador        2.68                      27656
3368                     Jamaica        2.10                      21689
3297                      Brazil        1.92                      19825

In [17]:
# Define the countries to keep
immigration_df = immigration_df[immigration_df["Region and country of birth"].isin
                                (["Iran", "Mexico", "China, People's Republic", "Pakistan", "India",
                                  "United Kingdom", "Dominican Republic", "Philippines", "Total"])]

immigration_df

,Year,Region and country of birth,Total Permanent Residents,Percentage,Alabama,Alaska,Arizona,Arkansas,California,Colorado,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
1,2005,Total,1122373,100.00,4200,1525,18988,2698,232023,11977,...,881,8962,95958,5082,1042,27100,26482,847,7909,321
52,2005,"China, People's Republic",69967,6.23,328,92,543,202,17668,765,...,51,637,4139,217,50,1327,1508,101,593,28
68,2005,Dominican Republic,27504,2.45,5,42,22,0,82,6,...,0,22,119,11,0,90,18,6,39,0
102,2005,India,84681,7.54,431,15,739,215,14724,516,...,23,900,7139,147,74,2776,1747,133,876,0
104,2005,Iran,13887,1.24,48,4,285,9,7059,131,...,0,150,1002,135,4,562,318,18,48,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3363,2019,Iran,6640,0.64,16,0,92,26,2693,70,...,3,46,701,40,3,214,258,5,54,12
3398,2019,Mexico,156052,15.12,507,77,8520,891,47725,4243,...,74,1286,38736,2034,8,796,3266,44,1418,113
3419,2019,Pakistan,13921,1.35,44,0,67,28,1706,60,...,8,67,2095,72,0,943,286,23,126,0
3425,2019,Philippines,45920,4.45,235,514,916,180,14934,387,...,47,672,2629,202,23,1019,1492,70,252,31
3475,2019,United Kingdom,11337,1.10,65,19,170,39,2149,219,...,7,134,989,95,22,241,381,15,103,11

In [18]:
# Display the data type information for each column in the immigration_df DataFrame
immigration_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 135 entries, 1 to 3475
Data columns (total 55 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year                         135 non-null    int64
 1   Region and country of birth  135 non-null    object
 2   Total Permanent Residents    135 non-null    int64
 3   Percentage                   135 non-null    float64
 4   Alabama                      135 non-null    int64
 5   Alaska                       135 non-null    int64
 6   Arizona                      135 non-null    int64
 7   Arkansas                     135 non-null    int64
 8   California                   135 non-null    int64
 9   Colorado                     135 non-null    int64
 10  Connecticut                  135 non-null    int64
 11  Delaware                     135 non-null    int64
 12  District of Columbia         135 non-null    int64
 13  Florida                      135 non-null    int64
 14  Georgia                      135 non-null    int64
 15  Hawaii                       135 non-null    int64
 16  Idaho                        135 non-null    int64
 17  Illinois                     135 non-null    int64
 18  Indiana                      135 non-null    int64
 19  Iowa                         135 non-null    int64
 20  Kansas                       135 non-null    int64
 21  Kentucky                     135 non-null    int64
 22  Louisiana                    135 non-null    int64
 23  Maine                        135 non-null    int64
 24  Maryland                     135 non-null    int64
 25  Massachusetts                135 non-null    int64
 26  Michigan                     135 non-null    int64
 27  Minnesota                    135 non-null    int64
 28  Mississippi                  135 non-null    int64
 29  Missouri                     135 non-null    int64
 30  Montana                      135 non-null    int64
 31  Nebraska                     135 non-null    int64
 32  Nevada                       135 non-null    int64
 33  New Hampshire                135 non-null    int64
 34  New Jersey                   135 non-null    int64
 35  New Mexico                   135 non-null    int64
 36  New York                     135 non-null    int64
 37  North Carolina               135 non-null    int64
 38  North Dakota                 135 non-null    int64
 39  Ohio                         135 non-null    int64
 40  Oklahoma                     135 non-null    int64
 41  Oregon                       135 non-null    int64
 42  Pennsylvania                 135 non-null    int64
 43  Rhode Island                 135 non-null    int64
 44  South Carolina               135 non-null    int64
 45  South Dakota                 135 non-null    int64
 46  Tennessee                    135 non-null    int64
 47  Texas                        135 non-null    int64
 48  Utah                         135 non-null    int64
 49  Vermont                      135 non-null    int64
 50  Virginia                     135 non-null    int64
 51  Washington                   135 non-null    int64
 52  West Virginia                135 non-null    int64
 53  Wisconsin                    135 non-null    int64
 54  Wyoming                      135 non-null    int64
dtypes: float64(1), int64(53), object(1)
memory usage: 59.1+ KB

In [19]:
# Save the final DataFrame to a new CSV file
immigration_df.to_csv('Resources/immigration_selected_2005_2019.csv', index=False)

In [20]:
# Write the data to a SQLite database
# Create a connection to the SQLite database
conn = sqlite3.connect('Resources/immigration_selected_2005_2019_sqlite.sqlite')

# Write the data to a sqlite table
immigration_df.to_sql('immigration_selected_2005_2019_sqlite', conn, if_exists='replace', index=False)

# Commit any changes and close the connection
conn.commit()
conn.close()

In [21]:
# Create a connection to the SQLite database to load the data and check if the data has been stored correctly
conn = sqlite3.connect('Resources/immigration_selected_2005_2019_sqlite.sqlite')

# Write a SQL query to load the data from the table in the SQLite database
immigration_df_sqlite = pd.read_sql_query("SELECT * from immigration_selected_2005_2019_sqlite", conn)

# close the connection
conn.close()

# View the DataFrame
immigration_df_sqlite

,Year,Region and country of birth,Total Permanent Residents,Percentage,Alabama,Alaska,Arizona,Arkansas,California,Colorado,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,2005,Total,1122373,100.00,4200,1525,18988,2698,232023,11977,...,881,8962,95958,5082,1042,27100,26482,847,7909,321
1,2005,"China, People's Republic",69967,6.23,328,92,543,202,17668,765,...,51,637,4139,217,50,1327,1508,101,593,28
2,2005,Dominican Republic,27504,2.45,5,42,22,0,82,6,...,0,22,119,11,0,90,18,6,39,0
3,2005,India,84681,7.54,431,15,739,215,14724,516,...,23,900,7139,147,74,2776,1747,133,876,0
4,2005,Iran,13887,1.24,48,4,285,9,7059,131,...,0,150,1002,135,4,562,318,18,48,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,2019,Iran,6640,0.64,16,0,92,26,2693,70,...,3,46,701,40,3,214,258,5,54,12
131,2019,Mexico,156052,15.12,507,77,8520,891,47725,4243,...,74,1286,38736,2034,8,796,3266,44,1418,113
132,2019,Pakistan,13921,1.35,44,0,67,28,1706,60,...,8,67,2095,72,0,943,286,23,126,0
133,2019,Philippines,45920,4.45,235,514,916,180,14934,387,...,47,672,2629,202,23,1019,1492,70,252,31
134,2019,United Kingdom,11337,1.10,65,19,170,39,2149,219,...,7,134,989,95,22,241,381,15,103,11